</body>

<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://www.facebook.com/maruwada.saketh" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/maruvada__saketh/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/maruvada-saketh/" class="fa fa-linkedin"></a>
    <a href="https://github.com/MaruvadaSaketh" class="fa fa-github"></a>
    <span class="far fa-copyright"></span> 2022 All rights reserved msakethckp25@gmail.com.</span>
</footer>>


</html>